header {
  display: flex;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 1;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}
.logo span {
  color: MediumAquamarine;
}
header nav {
  display: flex;
  align-items: center;
  padding: 40px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
nav span a {
  color: black;
  text-decoration: underline;
  cursor: auto;
}
body {
  display: block;
}
.container {
  border: 2px solid red;
  display: flex;
  padding-top: 116px;
  width: 1232px;
  margin: 0 auto 78px auto;
}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}
.column.large {
  border: 2px solid blue;
  width: 630px;
  display: flex;
}
.lead-story {
  border: 2px dotted Aqua;
}
.image-content {
  border: 2px dotted green;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size:30px;
}
.lead-story .image-content {
  background-image: url("../images/img-story-main.png");
  margin-top:0px;
  font-size: 40px;
  text-align: left;
  display: flex;
}
.narrative {
  border: 2px dotted orange;
  font-family: Georgia;
  font-size: 17px;
  color: black;
  display: block;
}
.stories {
  border: 2px dotted red;
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  width: 630px;
}
.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.fall-cancelled.image-content {
  background-image: url("../images/img-story-2.png");
  display: flex;
}
.pop-culture.image-content {
  background-image: url("../images/img-story-3.png");
  display: flex;
}
.column.medium {
  border: 2px solid green;
  width: 300px;
  display: flex;
}
.cat-ceo.image-content {
  background-image: url("../images/img-story-1.png");
  display: flex;
}
.column.small {
  border: 2px solid orange;
  width: 240px;
  display: flex;
}
.news-bites {
  border: 2px solid red;
}
